<h1>New Product</h1>

<form action="/products" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

	Name:<input type="string" name="name" ><br>
	Description:<input type="text" name="description"><br>
	Pricing:<input type="float" name="pricing"><br>
	<input type="submit" value="Create">


</form>